body{
    width: 526px;
    height: 530px;
    margin: 0;    

    /*background image bundle starts here*/
    background-image: url('images/pinkSlipPhoto.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    /*background image bundle ends here*/

}

/* new home page for application page elements positioning and style starts here */
/*universal classes*/
.yesBox{
    position: absolute;
    color:white;
    background-color: green;
    height:30px;
    width:50px;
}

.noBox{
    position: absolute;
    color: white;
    background-color: red;
    height:30px;
    width:30px;
}
/*y coordinates*/
.line1{
    top:75px;
}
.line2{
    top: 129px;
}
.line3{
    top:170px;
}
.line4{
    top:265px;
}
.line5{
    top:320px;
}
.line5-5{
    top: 350px;
}
.line6{
    top: 400px;
}

/*Line 1: teacher*/
.enterTeacher { /*the select box for choosing the teacher*/
    position: absolute;
    left: 156px;
    height: 30px;
    width:110px;
}

.searchTeacher{ /*the texbox where it searches for the close match to what is entered in here to what is in select element*/
    position: absolute;
    left:355px;
    width: 100px;
    height: 25px;
}

.saveTeacher {  /*green button for saving the choice of teacher*/
    left: 265px;
}
.cancelTeacher { /*red cross button for cancelling the choice of teachers*/
    left: 315px;
}

/*Line 2: student*/
.enterStudent {   /*textbox where student ID is entered*/
    position: absolute;
    left: 156px;    
    width: 105px;
    height: 25px;
}

.showStudent{ /*the disabled texbox where the name of the student is shown according to the student ID entered*/
    position: absolute;
    left:355px;
    width: 100px;
    height: 25px;
}

.saveStudent { /*saving the student ID*/
    left: 265px;
}
.cancelStudent { /*cancelling the student id save*/
    left: 315px;
}

/*Line 3: date and time left*/
.enterDate{  /*the date box*/
    position: absolute;
    left: 55px;
    top: 220px;
}

.enterTime{ /*the range input thing for how long the student leaves class*/
    position: absolute;
    left: 330px;
    top: 225px;
}

.enterTimeValue{ /*the text which shows the value of the range as it changes*/
    position: absolute;
    left: 330px;
    top:178px;

    font-weight: bold;
    color: black;
}

/*line 4: enter period*/
.enterPeriod{  /*the period of leave textbox which is automatically assigned*/
    position:absolute;
    left:250px;
    width:100px;
    height:25px;
}

/*Line 5: enter reason*/
.enterReason{ /*the textbox which shows up when "other" is chosen as reason*/
    position: absolute;
    left:150px;
    width:160px;
    height:24px;
    resize: none;

    visibility: hidden;
}
.saveReason{  /*comes with the other reason textbox for saving*/
    position: absolute;
    left:320px;

    visibility: hidden;
}
.cancelReason{ /*comes with the other reason textbox for cancelling*/
    position: absolute;
    left: 370px;

    visibility: hidden;
}

.chooseReasons{ /*the select element for choosing generic reasons*/
    position:absolute;
    left: 150px;
    width:165px;
    height:30px;
}

/*Line 6: final submission button*/
.submit{ 
    position: absolute;
    left: 200px;
    width:200px;
    height: 50px;
    font-size: 16px;
}
